/* imports */
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,300;0,700;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');
/* end imports */

/* variables */
:root {
    /* fonts */
    --var-prim-font: 'Tenor Sans', sans-serif;
    --var-font-subtitles: 'Fira Sans Extra Condensed', sans-serif;
    --var-paragraph-font: 'Signika Negative', sans-serif;;
    /* end fonts */

    /* colors */
    --var-colorFont-lightTheme: #013bc2;
    --var-colorFont-lightThemeAlphasized2:rgba(1, 59, 194, 0.5);
    --var-colorFont-lightThemeAlphasized:rgba(1, 59, 194, 0.3);
    --var-colorFont-lightTheme-Selected: rgb(7, 204, 161);
    --var-colorFont-lightTheme-Selected2: rgba(7, 204, 161, 0.555);
    --var-colorFont-lightTheme-Selected-Light: rgba(7, 204, 161, 0.25);
    --var-colorFont-lightTheme-darker: rgb(9, 163, 130);
    --var-bg-light-theme: #f5f5f5;
    --var-bg-light-theme-darker: #cecdcd;
    --var-adriaticBlue: #285790;
    --var-adriaticBlueLighter: #3a81d6;
    /* end colors */

    /* margins/padding sections */
    --var-margin-top-sections: 20px;
    --var-paddingTitles: 4px;
    --var-padding-imgMini: 5px;
    --var-margin-general-paragr: 10px;
    /* end padding margins */

    /* border-radiuses */
    --var-border-radius: 8px;
    /* end borders */

    /* shadows and shades */
    --var-boxShadows-ligther: 1px 1px 8px 1px rgba(7, 204, 161, 0.548);
    --var-boxShadows-inset-lighter: inset 1px 1px 8px rgba(7, 204, 161, 0.548);
    /* end shadows */
}
/* end variables */

html, body {
    margin: 0px;
    padding: 0px;
}

/* main - layout */
.layoutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex-grow: 1;
}
.dataContainer {
  width: 99.9%;
  margin: 0 auto;
}
/* end layout */

/* nav component */
.navBlock {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: var(--var-adriaticBlue);
    height: 85px;
    padding-bottom: 5px;
}
.navItemsUL {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    align-content: center;
    list-style: none;
    padding-inline-start: 0px;
    transition: all .3s ease;
    margin-bottom: 0px;
}
.hide{
    display: none;
}
.navItem {
    /* is the same as li */
    float: inherit;
    padding: 8px;
}
.navItem:last-child {
    margin-right: 10px;
    transition: all .2s ease;
}
.navItem:hover{
    text-decoration: underline;
}
.navLink {
    text-decoration: none;
    font-family: var(--var-prim-font);
    font-size: large;
    color: var(--var-bg-light-theme);
    transition: all .2s ease;
}
.navLink:hover {
    color:var(--var-bg-light-theme-darker);
}
.activeNavLink {
    text-decoration: underline;
    color: var(--var-colorFont-lightTheme-Selected);
    letter-spacing: 5px;
}
.logoCont {
    display: block;
    width: 330px;
    height: 60px;
}
.logoImg {
    object-fit: cover;
}
.burguerMenuCont {
    cursor: pointer;
    transition: all .2s ease;
    margin-right: var(--var-margin-top-sections);
}
.rectHamItem {
    fill: var(--var-bg-light-theme);
}
.burguerMenuCont:hover {
    transform: scale(1.05);
}
    /* flyermobileMenu */
    .flyerMobileMenu {
        position: fixed;
        right: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        z-index: 99999;
        background: var(--var-bg-light-theme);
        border-left: 1px solid var(--var-colorFont-lightTheme);
        justify-content: center;
        align-items: center;
        box-shadow: 1px 0px 15px 2px var(--var-colorFont-lightTheme);
    }
    .mobileMenuUL {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        padding-inline-start: 0px;
        
    }
    .navItemMobile {
        padding: 10px;
        width: 100%;
        transition: all .2 ease;
        cursor: pointer;
    }
    .navItemMobile:hover {
        background: var(--var-colorFont-lightTheme-Selected);
    }
    .navLinkMobile {
        padding-right: 600px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--var-colorFont-lightTheme);
        font-family: var(--var-prim-font);
        font-size: large;
        letter-spacing: 3px;
        margin-left: 10px;
        text-decoration: none;
        transition: all .2 ease;
    }
    .navLinkMobile:hover {
        text-decoration: underline;
        color: var(--var-bg-light-theme);
    }
    .mobileMenuSqrImgBgCont {
        display: block;
        flex-direction: row;
        position: absolute;
        top: 0px;
        width: 40%;
        height: auto;
    }
    .closeBtnCont {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 20px;
        width: 100%;
        height: 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: var(--var-colorFont-lightTheme-Selected);
        font-family: var(--var-prim-font);
    }
    .closeBtnCont:hover {
        color: var(--var-bg-light-theme);
        background: var(--var-colorFont-lightTheme-Selected);
    }
    /* end flyermenu */
/* end nav */

/* home page */
.homeContainer {
    /* margin-top: var(--var-margin-top-sections); */
    width: 100%;
    margin-bottom: var(--var-margin-top-sections)
}
.carouselContainer {
    display: block;
    width: 100%;
    background: var(--var-adriaticBlue);
}
.testDivCar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 400px;
    /* border-radius: var(--var-border-radius); */
    /* box-shadow: var(--var-boxShadows-ligther); */
    box-shadow: var(--var-boxShadows-inset-lighter);
}
.imgCarHome {
    /* quedaron en 1270x400 */
    object-fit: cover;
    width: 100%;
    /* border-radius: var(--var-border-radius); */
    opacity: 0.85;
}
.quotesCarouselHome {
    color: var(--var-bg-light-theme);
    font-family: var(--var-font-subtitles);
    border-radius: var(--var-border-radius);
    background: rgba(0, 0, 0, 0.42);
    padding: calc(var(--var-paddingTitles)*2);
    font-weight: 500;
    font-style: italic;
    font-size: large;
}
.blogListCont {
    margin-top: var(--var-margin-top-sections);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin: var(--var-margin-general-paragr); */
    align-items: center;
    width: 100%;
    height: auto;
}
.titleHome {
    font-size: large;
    color: var(--var-colorFont-lightTheme);
    font-family: var(--var-paragraph-font);
}
.blogULHome {
    color: var(--var-colorFont-lightTheme-Selected);
}
.itemBlogList {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subtitleHome {
    font-size: medium;
    color: var(--var-colorFont-lightTheme);
    font-family: var(--var-paragraph-font);
    /* text-decoration: underline; */
    font-weight: bold;
}
.spanReadingTime {
    margin-left: var(--var-margin-general-paragr);
    font-size: small;
    text-decoration: none;
    color: var(--var-colorFont-lightTheme-Selected)
    /* font-style: italic; */
}
.ulTechListHome {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style: none;
}
.ulTechListHome li {
    float: right;
}
.logoHome {
    margin: var(--var-margin-general-paragr);
    padding: 5px;
    height: 85px;
    border-radius: var(--var-border-radius);
    box-shadow: 1px 1px 8px 1px var(--var-colorFont-lightThemeAlphasized);
    object-fit: scale-down;
}
.contDiv40 {
    margin-left: var(--var-margin-top-sections);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: var(--var-margin-general-paragr);
    border-radius: var(--var-border-radius);
    box-shadow: 1px 1px 8px 1px var(--var-colorFont-lightThemeAlphasized);
}
.contDiv60 {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.rowLogosCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.centerAlign {
    text-align: center;
}
/* end index */

/* Footer */
footer {
    /* margin-top: var(--var-margin-top-sections); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* background: var(--var-colorFont-lightTheme); */
    /* testing adriatic */
    background: var(--var-adriaticBlue);
    justify-content: flex-end;

}
.leftCont40 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.socialULfooter {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0px;
    justify-content: center;
    align-items: center;
}
.socialULfooter li {
    padding: var(--var-padding-imgMini);
    transition: all .2s ease;
}
.socialULfooter li:hover {
    border-radius: var(--var-border-radius);
    transform: scale(1.05);
    box-shadow: 1px 1px 8px 1px var(--var-bg-light-theme);
}
.socialIcon {
    width: 60px;
    height: 60px;
}
.rightCont60 {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-right: calc(var(--var-margin-top-sections)*3);
}
.subtitleFooter {
    color: var(--var-bg-light-theme);
    font-size: initial;
    font-weight: normal;
    font-family: var(--var-font-subtitles);
}
.logoFooterCont {
    display: block;
    width: 250px;
    height: 70px;
}
.logoFooter {
    object-fit: cover;
}
.ulFooterSiteMap {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0px;
}
.navLinkWhite {
    text-decoration: none;
    font-family: var(--var-prim-font);
    font-size: large;
    color: var(--var-bg-light-theme);
    transition: all .2s ease;
}
.navLinkWhite:hover {
    color: var(--var-colorFont-lightTheme-Selected)
}
.rowFooter {
    margin-top: var(--var-margin-top-sections);
    display: flex;
    flex-direction: row;
}
.rowColumFooter {
    margin-top: var(--var-margin-top-sections);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.textFooter {
    color: var(--var-bg-light-theme);
    font-size: medium;
    font-family: var(--var-font-subtitles);
    margin-bottom: 0px;
}
.textFooter a {
    color: var(--var-colorFont-lightTheme-Selected);
}
.heartIcon {
    width: 22px;
    height: 22px;
}
/* end footer */

/* Not found page 404 */
.notFoundImgCont {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}
.notFoundImg {
    object-fit: cover;
}
/* end not found 404 */

/* About page */
.cardCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}
.profilePicCont {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: var(--var-margin-top-sections);
}
.profileImg {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 3px 8px 1px var(--var-adriaticBlueLighter);
}
.textContAbout {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    justify-content: center;
}
.textAbout {
    color: var(--var-adriaticBlue);
    font-family: var(--var-paragraph-font);
    font-size: large;
    margin-right: calc(var(--var-margin-top-sections)/2);
}
.certCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.imgCertCont {
    display: block;
    width: 80%;
    padding: var(--var-padding-imgMini);
    margin: 0 auto;
}
.hrAbout {
    border: 1px solid var(--var-adriaticBlue);
    width: 90%;
}
.imgCert {
    object-fit: cover;
    border-top-left-radius: var(--var-border-radius);
    border-top-right-radius: var(--var-border-radius);
}
.certUL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0px;
    justify-content: center;
    align-items: center;
}
.divLiCert {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 410px;
    margin: var(--var-margin-top-sections);
    border-radius: var(--var-border-radius);
    box-shadow: 1px 1px 8px 1px var(--var-adriaticBlue);
    overflow: auto;
}
.subtitleAbout {
    margin-left: calc(var(--var-padding-imgMini)*3);
    margin-right: calc(var(--var-padding-imgMini)*3);
    color: var(--var-adriaticBlue);
    font-size: medium;
    font-family: var(--var-font-subtitles);
}
.textMiniAbout {
    margin-left: calc(var(--var-padding-imgMini)*3);
    margin-right: calc(var(--var-padding-imgMini)*3);
    color: var(--var-adriaticBlue);
    font-size: medium;
    font-family: var(--var-font-subtitles);
    font-weight: bold;
}
.boldText {
    font-weight: bold;
}
/* end about page */

/* single post page */
.postCont {
    margin-top: var(--var-margin-top-sections);
}
.imgPostCont {
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto;
}
.coverImgPost {
    object-fit: cover;
    box-shadow: 1px 1px 8px 1px var(--var-adriaticBlueLighter);
}
.centeredTitle {
    text-align: center;
}
.titlePost {
    color: var(--var-adriaticBlue);
    font-family: var(--var-prim-font);
}
.datePostText {
    font-size: large;
    color: var(--var-adriaticBlue);
    font-family: var(--var-font-subtitles);
}
.hrsinglePost {
    border: 1px solid var(--var-colorFont-lightTheme-Selected);
    width: 100%;
}
.textPostCont {
    margin: var(--var-margin-top-sections);
}
.textParaPost {
    color: var(--var-adriaticBlue);
    font-size: large;
    font-family: var(--var-paragraph-font);
}
.textParaPost img {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: scale-down;
    box-shadow: 1px 1px 8px 1px var(--var-adriaticBlueLighter);
    margin-bottom: calc(var(--var-margin-general-paragr)*4);
}
.textParaPost img:last-child{
    margin-bottom: 0px;
}
.textParaPost pre code {
    background: var(--var-adriaticBlue);
    color: var(--var-bg-light-theme);
    padding: calc(var(--var-paddingTitles)*5);
}
.textParaPost blockquote {
    padding: var(--var-margin-top-sections);
    font-style: italic;
    color: var(--var-adriaticBlueLighter);
}
/* end single post page */

/* Tos / privacy page */
.tosCont {
    margin: calc(var(--var-margin-top-sections)*2);
}
.titleTos, .subtitleTos, .textTos {
    color: var(--var-adriaticBlue);
}
.titleTos {
    font-family: var(--var-prim-font);
}
.subtitleTos {
    font-family: var(--var-font-subtitles);
}
.textTos {
    font-family: var(--var-paragraph-font);
}
.centerTextTos {
    text-align: center;
}
.miniText {
    font-size: small;
}
/* end tos / privacy page */

/* blog page */
.blogCont {
    display: flex;
    flex-direction: column;
    margin: var(--var-margin-top-sections);
}
.topSectionBlog {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
}
.imgCoverCont {
    display: block;
    width: 600px;
    border-radius: var(--var-border-radius);
}
.blogPageImg {
    object-fit: cover;
    border-radius: var(--var-border-radius);
}
.topTextBlog {
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: var(--var-margin-top-sections);
}
.topTextBlog blockquote {
    color: var(--var-adriaticBlue);
    font-size: large;
    font-family: var(--var-font-subtitles);
    font-weight: bold;
}
.ulBlogListBlog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0px;
    justify-content: center;
}
.figBlogList {
    display: flex;
    flex-flow: column;
    width: 300px;
    margin-left: var(--var-margin-top-sections);
    margin-bottom: var(--var-margin-top-sections);
    box-shadow: 1px 1px 8px 1px var(--var-colorFont-lightTheme-darker);
    transition: all .2s ease;
}
.figBlogList:hover {
    transform: scale(1.05);
}
.figBlogList figcaption {
    display: flex;
    width: 300px;
    flex-direction: column;
    position: absolute;
    color: var(--var-bg-light-theme);
    font-family: var(--var-prim-font);
    background: var(--var-colorFont-lightThemeAlphasized2);
}
figcaption p {
    margin-left: var(--var-padding-imgMini);
    margin-right: var(--var-padding-imgMini);
    text-align: center;
}
.miniDateBlog {
    font-size: medium;
    font-family: var(--var-font-subtitles);
}
.boldtext {
    font-weight: bold;
}
.marginTop {
    margin-top: var(--var-padding-imgMini);
}
.hrBlogPost {
    border: 1px solid var(--var-adriaticBlue);
    width: 100%;
}
/* end blog page */

/* portfolio page */
.portfolioCont {
    margin: calc(var(--var-margin-top-sections)*3);
    background: url('../media-imgs/bgportfolio.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: var(--var-border-radius);
}
.portfUL {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 60vh;
    list-style: none;
    padding-inline-start: 0px;
}
.portfUL li {
    margin-bottom: var(--var-padding-imgMini);
}
.workCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    align-content: center;
    justify-content: flex-start;
    transition: all .4s ease;
    overflow: hidden;
}
.expanded{
    height: 300px;
    overflow: auto;
    background: var(--var-colorFont-lightTheme-Selected-Light);
    width: 95%;
    padding: var(--var-margin-top-sections);
    border-radius: var(--var-border-radius);
}
.noExpanded {
    height: 34px;
}
.workContRow {
    margin-top: var(--var-paddingTitles);
    display: flex;
    flex-direction: row;
}
.workCont p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.iconImgCont {
    margin-left: var(--var-padding-imgMini);
    display: flex;
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: all .2s ease;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid var(--var-adriaticBlue);
}
.iconImgCont:hover{
    transform: scale(1.1);
    background: var(--var-colorFont-lightThemeAlphasized);
}
.iconExpand {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pargraphPortfolio {
    width: 50%;
    color: var(--var-adriaticBlue);
    font-size: large;
    font-weight: bold;
    font-family: var(--var-paragraph-font);
    padding-right: 10px;
}
.titlePortfolio {
    color: var(--var-adriaticBlue);
    font-weight: bold;
    font-family: var(--var-prim-font);
}
.subtitlePortfolio {
    color: var(--var-adriaticBlue);
    font-family: var(--var-font-subtitles);
    font-size: large;
}
.textPortfolio {
    color: var(--var-adriaticBlue);
    font-family: var(--var-paragraph-font);
    font-size: medium;
}
.actualJobIconCont {
    margin-left: var(--var-padding-imgMini);
    display: block;
    width: 20px;
    height: 20px;
}
.actualJobIcon {
    width: 20px;
    height: 20px;
}
/* end portfolio page */

/* Contact page */
.contactContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 410px;
    /* margin-top: var(--var-margin-top-sections); */
    /* margin-bottom: var(--var-margin-top-sections); */
    justify-content: center;
    background: url('../media-imgs/bgContact.png');
    background-repeat: no-repeat;
    background-position: right;
}
.formContainer {
    margin-left: var(--var-margin-top-sections);
    display: flex;
    flex-direction: column;
}
.contactForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 1px solid black; */
}
.rowCont {
    display: flex;
    flex-direction: row;
}
.labelsCont {
    margin-left: var(--var-margin-top-sections);
    display: flex;
    flex-direction: column;
    width: 30%;
}
.inputsCont {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.btnCont {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: calc(var(--var-margin-top-sections)/2);
}
.btnRowCont {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.btnForm {
    margin: var(--var-padding-imgMini);
    padding: var(--var-padding-imgMini);
}
.sendingEmailCont {
    margin-top: calc(var(--var-margin-top-sections)/2);
    margin-bottom: calc(var(--var-margin-top-sections)/2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgSendingCont {
    margin-left: var(--var-padding-imgMini);
    width: 35px;
    height: 35px;
}
.sendingText {
    font-weight: bold;
    text-align: center;
    color: var(--var-adriaticBlue);
    font-size: large;
    font-family: var(--var-font-subtitles);
    transition: all 1s ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: sendingEmailText;
    margin-bottom: 0px;
}
    /* animation */
    @keyframes sendingEmailText {
        from {
            opacity: .8;
        }
        to {
            opacity: 1;
        }
    }
.iconSending {
    width: 35px;
    height: 35px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: sendingEmail;
}
    /* animation */
    @keyframes sendingEmail {
        from {
            transform: rotateZ(0deg);
        }
        to {
            transform: rotateZ(359deg);
        }
    }
    /* end animation */
.lblForm {
    font-size: large;
    font-weight: bold;
    font-family: var(--var-paragraph-font);
    color: var(--var-adriaticBlue);
}
.inputForm {
    font-size: large;
    font-weight: normal;
    font-family: var(--var-paragraph-font);
    color: var(--var-colorFont-lightTheme-Selected);
}
/* placeholders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--var-colorFont-lightTheme-Selected2);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--var-colorFont-lightTheme-Selected2);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--var-colorFont-lightTheme-Selected2);
}
/* end placeholders */
.btnForm {
    font-size: medium;
    font-family: var(--var-font-subtitles);
    color: var(--var-bg-light-theme);
    background: var(--var-adriaticBlue);
    border-radius: var(--var-border-radius);
    border: none;
    padding: 8px;
}
.btnForm:hover{
    background: var(--var-colorFont-lightTheme-Selected2);
    color: var(--var-adriaticBlue);
}
/* end contact page */

/* Selector component - for language or possible dar mode */
.selectorCont {
    border-radius: var(--var-border-radius);
    background: var(--var-bg-light-theme);
    border: 1px solid var(--var-bg-light-theme);
    display: flex;
    flex-direction: column;
    width: 52px;
    height: 32px;
    text-align: left;
    cursor: pointer;
}
.iconSelector {
    transition: all .4s ease;
    width: 30px;
    height: 30px;
}
.selectorRight {
    margin-left: var(--var-margin-top-sections);
}
.selectorLeft {
    margin-left: 0px;
}
/* end selector component */

/* Media rules support */
@media only screen and (max-width: 1160px) {
    .contactForm{
        width: 40%;
    }
}
@media only screen and (max-width: 968px) {
    .contactContainer {
        background-size: cover;
    }
    .formContainer {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .contactForm{
        background: var(--var-adriaticBlue);
        opacity: 0.95;
        border-radius: var(--var-border-radius);
        width: 60%;
    }
    .sendingText {
        color: var(--var-bg-light-theme);
    }
    .lblForm {
        color: var(--var-bg-light-theme);
    }
    .labelsCont {
        margin-left: var(--var-margin-top-sections);
        margin-top: var(--var-margin-top-sections);
    }
    .inputsCont{
        width: 65%;
        margin-top: var(--var-margin-top-sections);
        margin-right: var(--var-margin-top-sections);
    }
    .btnForm {
        background: var(--var-bg-light-theme);
        color: var(--var-adriaticBlue);
    }
    .btnForm:hover {
        color: var(--var-bg-light-theme);
    }
    .blogListCont{
        flex-direction: column;
    }
    .contDiv40 {
        width: 75%;
        justify-content: center;
        align-items: center;
    }
    .titleHome {
        font-size: x-large;
    }
    .subtitleHome {
        font-size: large;
    }
    .contDiv60 {
        margin-top: var(--var-margin-top-sections);
    }
}
@media only screen and (max-width: 836px) {
    .portfolioCont {
        /* margin: var(--var-margin-top-sections); */
        background-position: top;
        background-size: cover;
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
        background: url('../media-imgs/bgportfolio-mobiles.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: var(--var-margin-top-sections);
    }
    .portfUL {
        width: 80%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.2);
        padding: var(--var-margin-top-sections);
    }
    .titlePortfolio {
        color: var(--var-bg-light-theme);
        text-shadow: 1px 1px 4px black;
    }
    .pargraphPortfolio {
        margin: 0 auto;
        width: 80%;
        color: var(--var-bg-light-theme);
        text-shadow: 1px 1px 4px black;
        background: rgba(0, 0, 0, 0.2);
        padding-right: 0px;
        padding: var(--var-margin-top-sections);
    }
    .subtitlePortfolio, .textPortfolio {
        color: var(--var-bg-light-theme);
        text-shadow: 1px 1px 4px black;
    }
    .subtitlePortfolio a {
        color: var(--var-bg-light-theme);
        text-shadow: 1px 1px 4px black;
        text-decoration: underline;
    }
    .subtitlePortfolio a:hover{
        font-weight: bold;
        color: var(--var-colorFont-lightTheme-Selected);
    }
    .workCont {
        justify-content: unset;
    }
    .expanded {
        width: 100%;
        background: rgba(0, 0, 0, 0.304);
        padding: 0px;
    }
    .workContRow {
        flex-direction: row;
        justify-content: center;
    }
    .noExpanded {
        height: 34px;
    }
    .iconImgCont {
        border-color: var(--var-bg-light-theme);
        background: var(--var-bg-light-theme);
        margin-left: var(--var-margin-top-sections);
    }
    footer {
        height: auto;
    }
    .rowFooter {
        margin-top: var(--var-margin-top-sections);
        flex-direction: column;
    }
    .leftCont40 {
        width: 100%;
        flex-direction: row;
    }
    .rightCont60 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .topSectionBlog {
        flex-direction: column;
        height: auto;
    }
    .topTextBlog {
        width: 100%;
    }
    .imgCoverCont {
        width: 100%;
    }
    .selectorCont {
        margin-left: calc(var(--var-margin-top-sections)/2);
    }
}
@media only screen and (max-width: 736px) {
    .contactForm{
        width: 90%;
    }
    .formContainer {
        margin-left: 0px;
    }
    .cardCont {
        flex-direction: column;
    }
    .textContAbout {
        width: 90%;
    }
    .divLiCert {
        width: 180px;
        height: 280px;
        overflow: auto;
    }
    .subtitleAbout {
        font-size: small;
    }
    .textMiniAbout {
        font-size: small;
    }
}
@media only screen and (max-width: 636px) {
    .contDiv40 {
        width: 98%;
        margin-left: 0px;
    }
    .contDiv60 {
        width: 98%;
    }
    .logoFooterCont {
        width: 220px;
        height: 50px;
    }
    .ulTechListHome {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 536px) {
    .labelsCont {
        display: none;
    }
    .inputsCont {
        width: 90%;
        margin-left: var(--var-margin-top-sections);
    }
    .portfUL {
        width: 100%;
        padding: 0px;
    }
    .pargraphPortfolio {
        width: auto;
        padding: 10px;
        margin-block-end: 0px;
        margin-block-start: 0px;
    }
    .contDiv40 {
        width: 100%;
        padding: 0px;
        box-shadow: none;
        margin-left: 0px;
    }
    .contDiv60 {
        width: 100%;
    }
    .logoFooterCont {
        width: 200px;
        height: 40px;
    }
    .logoHome{
        height: 75px;
    }
    .blogULHome{
        list-style: none;
        padding-inline-start: calc(var(--var-margin-top-sections)/2);
    }
    /* .itemBlogList {
        flex-direction: column;
    } */
    .quotesCarouselHome {
        font-size: medium;
    }
    .socialIcon {
        width: 40px;
        height: 40px;
    }
    .ulFooterSiteMap {
        flex-direction: column;
    }
    .textParaPost img {
        width: 100%;
    }
    .titlePost {
        font-size: x-larger;
    }
    .imgPostCont {
        width: 98%;
    }
    .figBlogList {
        width: 200px;
    }
    .figBlogList figcaption {
        width: 200px;
    }
    .miniDateBlog {
        display: none;
    }
    .leftCont40 {
        flex-direction: column;
        margin-bottom: var(--var-padding-imgMini);
    }
}
@media only screen and (max-width: 436px) {
    .rowColumFooter {
        flex-direction: column;
    }
    .noExpanded {
        height: 34px;
    }
}
@media only screen and (max-width: 400px) {
    .titlePortfolio {
        font-size: 14px;
        font-weight: bolder;
    }
    .logoCont {
        width: 300px;
    }
    .quotesCarouselHome {
        font-size: small;
    }
    .titleHome {
        font-size: large;
    }
    .subtitleHome {
        font-size: medium;
    }
    .leftCont40 {
        flex-direction: column;
    }
}
@media only screen and (max-width: 369px) {
    .logoCont {
        width: 260px;
    }
    .rectHamItem {
        width: 80px;
        height: 12px;
    }
    .logoHome {
        height: 60px;
    }
    .navLinkWhite {
        font-size: small;
    }
    .burguerMenuCont {
        margin-right: calc(var(--var-margin-top-sections)/2);
    }
    .titlePost {
        font-size: larger;
        font-weight: bold;
    }
    .workContRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .noExpanded {
        height: 50px;
    }
    .textAbout {
        margin-right: 0px;
    }
    .selectorCont {
        margin-bottom: calc(var(--var-margin-top-sections)/2);
    }
}
/* end media rules */

/* Credits */
/* Images used */
/* https://www.klipartz.com/es/sticker-png-fwjhk */
/* https://findlogovector.com/niagara-framework-logo-vector-svg/ */
/* https://findlogovector.com/tridium-logo-vector-svg/ */
/* https://www.freepng.es/png-y1rie8/ */
/* https://www.pinclipart.com/pindetail/xooRwo_astronaut-clipart-transparent-astronaut-clip-art-png-download/ */
/* Foto de Suzy Hazelwood en Pexels */
/* https://www.pexels.com/es-es/foto/madera-industria-teclear-escritura-3601081/ */
/* Foto de fauxels en Pexels */
/* https://www.pexels.com/es-es/foto/gente-trabajando-efecto-desenfocado-ventana-3183172/ */
/* Foto de Oleg Magni en Pexels */
/* https://www.pexels.com/es-es/foto/persona-manos-telefono-inteligente-escritorio-2764678/ */
/* end credits */